<h1 mat-dialog-title>Employee Stats: Employment</h1>
<mat-dialog-content>
  <div block="employee-employment-statistics-dialog">
    <mat-form-field>
      <mat-label>Department</mat-label>
      <mat-select
        data-qa="department-selector"
        [value]="departmentId$ | async"
        (selectionChange)="departmentId$.next($event.value)"
        placeholder="No department filter"
      >
        <mat-option>None</mat-option>
        <ng-container *ngFor="let deparment of departments">
          <mat-option [value]="deparment.id">{{ deparment.name }}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>

    <div elem="date-picker-container">
      <mat-form-field elem="date-picker">
        <mat-label>Start Date</mat-label>
        <input
          data-qa="date-from-selector"
          matInput
          [value]="dateFrom$ | async"
          [matDatepicker]="dateFromPicker"
          (dateChange)="dateFrom$.next($event.value)"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="dateFromPicker"></mat-datepicker-toggle>
        <mat-datepicker #dateFromPicker></mat-datepicker>
      </mat-form-field>
      <button mat-button (click)="dateFrom$.next(undefined)">Reset</button>
    </div>

    <div elem="date-picker-container">
      <mat-form-field elem="date-picker">
        <mat-label>End Date</mat-label>
        <input
          data-qa="date-to-selector"
          matInput
          [value]="dateTo$ | async"
          [matDatepicker]="dateToPicker"
          (dateChange)="dateTo$.next($event.value)"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="dateToPicker"></mat-datepicker-toggle>
        <mat-datepicker #dateToPicker></mat-datepicker>
      </mat-form-field>
      <button mat-button (click)="dateTo$.next(undefined)">Reset</button>
    </div>

    <div elem="loading-shade" *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <mat-accordion elem="output" *ngIf="employmentStats">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon
              elem="employee-status-change-icon"
              aria-hidden="false"
              aria-label="Employee Status Change Icon"
              fontIcon="login"
            ></mat-icon>
            Inbound Employees
          </mat-panel-title>
          <mat-panel-description>{{ employmentStats.incoming.length }} changes</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <ng-container *ngFor="let employmentStat of employmentStats.incoming">
            <mat-divider></mat-divider>
            <mat-list-item>
              <div elem="list-item">
                <span elem="name">
                  {{ employmentStat.employee.firstname }} {{ employmentStat.employee.middlename }}
                  {{ employmentStat.employee.lastname }}
                </span>
                <span elem="date">{{ employmentStat.startDate | date }}</span>
              </div>
            </mat-list-item>
          </ng-container>
        </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon
              elem="employee-status-change-icon"
              aria-hidden="false"
              aria-label="Employee Status Change Icon"
              fontIcon="logout"
            ></mat-icon>
            Outbound Employees
          </mat-panel-title>
          <mat-panel-description>{{ employmentStats.outgoing.length }} changes</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <ng-container *ngFor="let employmentStat of employmentStats.outgoing">
            <mat-divider></mat-divider>
            <mat-list-item>
              <div elem="list-item">
                <span elem="name">
                  {{ employmentStat.employee.firstname }} {{ employmentStat.employee.middlename }}
                  {{ employmentStat.employee.lastname }}
                </span>
                <span elem="date">{{ employmentStat.endDate | date }}</span>
              </div>
            </mat-list-item>
          </ng-container>
        </mat-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon
              elem="employee-status-change-icon"
              aria-hidden="false"
              aria-label="Employee Status Change Icon"
              fontIcon="sync_alt"
            ></mat-icon>
            In- & Outbound Employees
          </mat-panel-title>
          <mat-panel-description>{{ employmentStats.both.length }} changes</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-list>
          <ng-container *ngFor="let employmentStat of employmentStats.both">
            <mat-divider></mat-divider>
            <mat-list-item>
              <div elem="list-item">
                <span elem="name">
                  {{ employmentStat.employee.firstname }} {{ employmentStat.employee.middlename }}
                  {{ employmentStat.employee.lastname }}
                </span>
                <span elem="date">{{ employmentStat.startDate | date }} - {{ employmentStat.endDate | date }}</span>
              </div>
            </mat-list-item>
          </ng-container>
        </mat-list>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close="">Close</button>
</mat-dialog-actions>
