:host {
  display: block;

  .employee-detail {
    &__action-button {
      margin-right: 0.5rem;
    }

    &__activity-status {
      --employee-activity-flex-direction: row;
    }
  }

  .employee-absences {
    margin-top: 1rem;
    width: 100%;
  }
}
