:host {
  display: block;

  .employee-table {
    position: relative;
    min-height: 200px;
    overflow: auto;

    &__action-button {
      margin-right: 0.5rem;
    }

    &__loading-shade {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 56px;
      right: 0;
      background: rgba(0, 0, 0, 0.15);
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__container {
      position: relative;
    }

    &__table {
      width: 100%;
    }

    &__active-indicator-container {
      display: flex;
      justify-content: center;
      --employee-activity-flex-direction: column;
      height: 100%;
      padding: 6px 0;
    }

    .mat-row {
      min-height: 48px;
      cursor: pointer;
      transition: background-color 200ms;

      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }
}
